---
const personalImageAlt = 'José Orihuela picture';
---

<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo José Orihuela pero mis amigos me llaman José. Empecé en la
      programación cuando tenía 16 años. Actualmente estoy <strong
        >Aprendiendo Continuamente</strong
      >.
    </p>
  </div>

  <img
    src="./foto.png"
    class="rounded-full w-44 h-40 order-1 md:order-2"
    alt={personalImageAlt}
  />
</section>
